/* Chatbot container */
.chatbot-container {
  position: fixed;

  bottom: 20px;
  right: 20px;
  transition: width 0.3s, height 0.3s;
  z-index: 9999; /* Ensures the chatbot stays on top */
}

.chatbot-container.open {
  width: 350px;
  height: 500px;
}

/* Chatbot icon */
.chatbot-icon {
  cursor: pointer;
}

/* Chatbot window */
.chatbot-window {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 2px solid #028702;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Chatbot header */
.chatbot-header {
  background-color: #028702;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.chatbot-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Chatbot messages */
.chatbot-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f8f8f8;
}

/* Chatbot input */
.chatbot-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.chatbot-input input {
  flex-grow: 1;
  padding: 8px;
  border: 2px solid #028702;
  border-radius: 5px;
  margin-right: 10px;
  box-sizing: border-box; /* Ensures the input stays within bounds */
}

.chatbot-input button {
  background-color: #028702;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatbot-input button:hover {
  background-color: #026a01;
}

/* Chatbot message bubbles */
.message-text {
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user {
  background-color: #028702;
  color: #fff;
  align-self: flex-end;
  border-radius: 10px 0 10px 10px;
}

.bot {
  background-color: #e1ffe1;
  color: #333;
  align-self: flex-start;
  border-radius: 0 10px 10px 10px;
}

/* Bot icon */
.bot-image {
  border-radius: 50%;
  background-color: #028702;
}
